<h1>Links To Croquet Sites</h1>

<table id="links">
  <tbody>
        <tr>
          <td><%= link_to image_tag("ca-logo.gif", :size => "100x100", :title => "The Croquet Association"), "http://www.croquet.org.uk/" %></td>
          <td><%= link_to "The Croquet Association - Home", "http://www.croquet.org.uk/" %><br><%= link_to "The Croquet Association - Events", "http://www.croquet.org.uk/tournament/" %></td>
        </tr>
        <tr>
          <td><%= link_to image_tag("secf.jpg", :size => "100x100", :title => "SECF"), "http://www.southeastcroquet.org.uk/" %></td>
          <td><%= link_to "South East Croquet Federation", "http://www.southeastcroquet.org.uk/" %></td>
        </tr>
        <tr>
          <td><%= link_to image_tag("croqac.png", :size => "100x100", :title => "Croquet Academy"), "http://www.thecroquetacademy.com/" %></td>
          <td><%= link_to "Croquet Academy", "http://www.thecroquetacademy.com/" %></td>
        </tr>
        <tr>
          <td><%= link_to image_tag("croequip.gif", :size => "100x100", :title => "Croquet Equipment"), "http://www.oxfordcroquet.com/" %></td>
          <td><%= link_to "Croquet Equipment - Mallets, etc.", "http://www.oxfordcroquet.com/equip/" %><br><%= link_to "Croquet Equipment - Whites", "http://www.bowlsdirect.com/contact.htm" %></td>
        </tr>
        <tr>
          <td><%= link_to image_tag("cc_logo.gif", :size => "100x100", :title => "Croquet Glossary"), "http://cornwall-croquet.org.uk/croquet_glossary.htm" %></td>
          <td><%= link_to "Croquet Glossary", "http://cornwall-croquet.org.uk/croquet_glossary.htm" %></td>
        </tr>
  </tbody>
</table>